:root {
  --font-primary: "Poppins", sans-serif;
  --font-secundary: "Roboto", sans-serif;
  --bg-color: rgb(237, 238, 238);
  --text-color: rgb(111, 108, 108);
  --bg-color-card: white;
  --color-text-button: white;
  --color-date: rgb(86, 197, 86);
  --bg-color-button: rgb(86, 197, 86);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  background-color: var(--bg-color);
  font-family: var(--font-primary);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.card {
  display: grid;
  background-color: var(--bg-color-card);
  grid-template-rows: auto auto 1fr auto minmax(40px, auto);
  padding: 10px;
  border: 1px solid rgb(183, 176, 176);
  width: 260px;
  overflow: hidden;
  font-size: 0.8rem;
}

.card__image {
  height: 190px;
  overflow: hidden;
}

.card__image img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__title {
  padding: 10px 10px 0 10px;
}

.card__title h3 {
  font-weight: 250;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.card__information {
  text-align: justify;
  line-height: 1.6;
  color: var(--text-color);
}

.card__publish {
  text-align: end;
}

.card__publish span {
  color: var(--color-date);
}

.card__button {
  display: flex;
  justify-content: center;
}

.card__button button {
  background-color: var(--bg-color-button);
  color: var(--color-text-button);
  border: none;
  width: 100%;
}
