*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
}

body {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 75px 1fr 50px;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  min-height: 100vh;
}

header {
  background-color: turquoise;
  grid-area: header;
  display: flex;
  flex-direction: column;
  height: 100%; /*llena el 100% del área de su grid*/
}

.toolbar {
  display: flex;
  justify-content: space-between;
  flex-basis: 40px;
  padding: 0.5rem 1rem;
  background-color: white;
}

.page-title {
  display: flex;
  align-items: center;
  background-color: #007f90;
  color: white;
  padding: 0.5rem 1rem;
  flex-flow: 1;
  height: 100%;
  font-size: 1.3rem;
}

nav {
  background-color: #5995b3;
  grid-area: nav;
  position: sticky;
  align-self: start;
  top: 0; /*referencia de desplazamiento para sticky*/
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.menu-title {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(251, 245, 245);
}

.menu-container li {
  border: 1px solid rgb(145, 130, 130);
  padding: 10px;
  background-color: #75afb7;
}

main {
  background-color: #ece9f7;
  grid-area: main;
}

.list {
  border: 1px solid rgb(136, 16, 142);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 200px;
  max-width: 200px;
  border: 2px solid rgb(51, 47, 47);
  padding: 1rem;
  border-radius: 8px;
}

footer {
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: #007f90;
  grid-area: footer;
}
