:root {
  --font-primary: "Poppins", sans-serif;
  --font-secundary: "Roboto", sans-serif;

  --bg-color: rgb(237, 238, 238);
  --color-nav: #008e9b;
  --color-hover: #046069;
  --font-color: white;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: var(--font-primary);
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--font-color);
  display: block;
  font-weight: 100;
  padding: 0.2rem 1.5rem;
}

li:hover {
  background-color: var(--color-hover);
  transition: background-color 0.3s;
}

.menu {
  background-color: var(--color-nav);
  min-width: 200px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: auto;
}

@media screen and (max-width: 680px) {
  .menu__list {
    flex-direction: column;
    text-align: center;
  }
  a {
    padding: 0.75rem;
  }
}
