@import "./reset";

:root {
  --bg-color: #141414;

  /*fonts*/
  --color-text-main: rgb(251, 246, 246);
  --ff-normal-weight: 400;
  --ff-bold-weight: 700;
}

body {
  background-color: var(--bg-color);
  color: var(--color-text-main);
  padding: 0.8rem;
  font-family: "Jost", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-bottom: 0.8rem;
  background-color: var(--bg-color);

  &__logo {
    display: flex;
    &--img {
      width: 40%;
      height: 100%;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-weight: var(--ff-normal-weight);
    padding-left: 0.8rem;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__btn {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: var(--color-text-main);
    padding: 10px 40px;
    transition: background-color 0.4s ease;

    &:hover {
      background-color: (var(--color-text-main));
      color: var(--bg-color);
    }
  }
}

.movies {
  &__title {
    font-weight: var(--ff-normal-weight);
  }

  &__container {
    display: flex;
    padding: 20px 0;
  }

  &__number--desktop {
    font-weight: bold;
  }

  &__number--mobile {
    font-weight: bold;
    display: none;
  }

  &__poster {
    min-width: 250px;
    &:hover {
      scale: 1.3;
      transition: scale 0.3s cubic-bezier(0.17, 0.68, 0.58, 1.32);
    }
  }

  &__poster--popular {
    min-width: 225px;
  }
}
